/*
	Fuentes
*/
@font-face {
    font-family: 'airstream_itcregular';
    src: url('css/fuentes/airstreamitc-webfont.eot');
    src: url('css/fuentes/airstreamitc-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fuentes/airstreamitc-webfont.woff') format('woff'),
         url('css/fuentes/airstreamitc-webfont.ttf') format('truetype'),
         url('css/fuentes/airstreamitc-webfont.svg#airstream_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skiaregular';
    src: url('css/fuentes/skia-webfont.eot');
    src: url('css/fuentes/skia-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fuentes/skia-webfont.woff') format('woff'),
         url('css/fuentes/skia-webfont.ttf') format('truetype'),
         url('css/fuentes/skia-webfont.svg#skiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "css/elements.less";

@morado: #00362B;
@verdefondo: #00E3AE;

body {
	background-attachment: fixed;
	background-color: black;
	background-image: url('css/img/img_fondo.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: #00362B;
	font-family: 'skiaregular';
	text-align: center;

	h1 {
		font-size: 2.4em;
	}

	h1 ,
	h2 {
		font-family: 'airstream_itcregular';
		letter-spacing: 2px;
		text-shadow: 0px 1px 0px rgb(255, 255, 255);
	}

	canvas {
		.border-radius(5px,5px,5px,5px);
		position: relative;
	}

	.content {
		margin:0 auto;
		max-width: 934px;

		.brand {
			float:left;
			width:200px;

			h1 {
				background:transparent url('css/img/logo.png') no-repeat;
				display:block;
				height:220px;
				margin-left:0;
				margin-right:0;
				overflow: hidden;
				position: relative;
				text-indent: -9999em;
				width:200px;
			}
		}

		.otros {
			float:right;
			width:715px;

			h2 {
				text-align: left;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				text-align: left;

				li {
					background-color: @verdefondo;
					display: inline-block;
					margin:0 40px 20px 0;
					padding: 2px;
					.rounded(5px);
					.transition;

					img {
						cursor:pointer;
						margin:0;
						padding: 0;
					}
				}

				li:hover {
					.box-shadow(0 0 1px 1px rgba(0, 26, 20, 0.8));
					.scale(1.3);
				}

				li:nth-child(3n){
					margin-right: 0;
				}
			}
		}

	}

	.puzzle-container {
		background-color: rgba(0, 187, 150, 0.8);
		.border-radius(5px,5px,5px,5px);
		.box-shadow(0 0 1px 1px rgba(0, 26, 20, 0.8));
		margin: 0 auto;
		padding: 12px;
		width: auto;
		max-width: 934px;
		position:relative;
	}
}


body.loading {

	canvas {
		display: none;
	}

	.puzzle-container {
		background: url('img/load.gif') 50% 50% no-repeat @morado;
		min-height:547px;
	}

}